.product-shadow {
  box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
}

.image-shadow {
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset,
    rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.title-text-gradient {
  background: linear-gradient(319deg, #f83a3a 10%, #f13dd4 50%, #7000ff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-card-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

@keyframes outerCircleAnimation {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale3d(2.3, 2.3, 2.3);
    opacity: 0;
  }
}

@keyframes innerCircleAnimation {
  0% {
    transform: scaleX(1);
  }
  18% {
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    transform: scaleX(1);
  }
}

.pulse-indicator span {
  animation: outerCircleAnimation 3s linear;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

.pulse-indicator span:nth-child(2) {
  animation: innerCircleAnimation 1.5s linear;
  animation-iteration-count: infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
